Depends/
Source/Glass.Sitecore.Mapper/bin/
Source/Glass.Sitecore.Mapper/obj/
Source/Glass.Sitecore.Mapper.Tests/App_Config/
Source/Glass.Sitecore.Mapper.Tests/bin/
Source/Glass.Sitecore.Mapper.Tests/obj/
Source/Glass.Sitecore.Mapper.Demo/bin/
Source/Glass.Sitecore.Mapper.Demo/App_Config/
Source/Glass.Sitecore.Mapper.Demo/App_Data/
Source/Glass.Sitecore.Mapper.Demo/data/
Source/Glass.Sitecore.Mapper.Demo/indexes/
Source/Glass.Sitecore.Mapper.Demo/obj/
Source/Glass.Sitecore.Mapper.Demo/temp/
Source/Glass.Sitecore.Mapper.Demo/Layouts/debug
