<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="RazorViewPath" value="/layouts/razor"/>
    </settings>
    <commands>
      <command name="glass:razor:dynamic" type="Glass.Sitecore.Mapper.Razor.Shell.Commands.CreateDynamicRazor, Glass.Sitecore.Mapper.Razor"/>
      <command name="glass:razor:typed" type="Glass.Sitecore.Mapper.Razor.Shell.Commands.CreateTypedRazor, Glass.Sitecore.Mapper.Razor"/>
      <command name="glass:razor:behind" type="Glass.Sitecore.Mapper.Razor.Shell.Commands.CreateBehindRazor, Glass.Sitecore.Mapper.Razor"/>
    </commands>
    <renderingControls>
      <control template="glassbehindrazor" type="Glass.Sitecore.Mapper.Razor.RenderingTypes.BehindRazorRenderingType, Glass.Sitecore.Mapper.Razor" propertyMap="Type=type, Name=name, Assembly=assembly"/>
      <control template="glassdynamicrazor" type="Glass.Sitecore.Mapper.Razor.RenderingTypes.DynamicRazorRenderingType, Glass.Sitecore.Mapper.Razor" propertyMap="Name=name"/>
      <control template="glassstrongrazor" type="Glass.Sitecore.Mapper.Razor.RenderingTypes.TypedRazorRenderingType, Glass.Sitecore.Mapper.Razor" propertyMap="Type=type, Name=name, Assembly=assembly"/>
    </renderingControls>
  </sitecore>
</configuration>
