<?xml version="1.0"?>
<castle>
  <components>
    <component
      id="sitecoreContext"
      service="Glass.Mapper.ICmsContext, Glass.Mapper"
      type="Glass.Mapper.Sitecore.SitecoreContext, Glass.Mapper.Sitecore" />
    <component
      id="ormSettings"
      service="Glass.Mapper.Settings, Glass.Mapper"
      type="Glass.Mapper.Sitecore.SitecoreSettings, Glass.Mapper.Sitecore">
      <parameters>
        <Namespaces>
          <array>
            <item> Edwards.SitecoreWeb.Code,  Edwards.SitecoreWeb</item>
          </array>
        </Namespaces>
      </parameters>
    </component>
      
  </components>
</castle>
