<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="core" connectionString="user id=SitecorePlay;password=P@ssw0rd;Data Source=GRAVYPOWER;Database=Sitecore_Core" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="master" connectionString="user id=SitecorePlay;password=P@ssw0rd;Data Source=GRAVYPOWER;Database=Sitecore_Master" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  <add name="web" connectionString="user id=SitecorePlay;password=P@ssw0rd;Data Source=GRAVYPOWER;Database=Sitecore_Web" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>