<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=glassuser;password=password;Data Source=.\sqlexpress;Database=GlassSitecore65_Core" />
  <add name="master" connectionString="user id=glassuser;password=password;Data Source=.\sqlexpress;Database=GlassSitecore65_Master" />
  <add name="web" connectionString="user id=glassuser;password=password;Data Source=.\sqlexpress;Database=GlassSitecore65_Web" />
  <add name="analytics" connectionString="user id=glassuser;password=password;Data Source=.\sqlexpress;Database=GlassSitecore65_Analytics" />
</connectionStrings>