<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section
            name="castle"
            type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <sitecore configSource="App_Config\Sitecore.config" />
  <log4net />
  
  
  <castle configSource="App_Config\Castle.config" />
  <connectionStrings configSource="App_Config\ConnectionStrings.config" />
  <appSettings>
    <!--<add key="EmailReminder.FromAddress" value="name@server.net" />
    --><!-- NetSpell directory --><!--
    <add key="DictionaryFolder" value="/sitecore/shell/tdf" />
    <add key="Lucene.Net.FSDirectory.class" value="Sitecore.Data.Indexing.FSDirectory, Sitecore.Kernel" />
    <add key="Lucene.Net.CompressionLib.class" value="Sitecore.IO.Compression, Sitecore.Kernel" />-->
  </appSettings>
 
  
</configuration>